@import './variables/colors';

%btn {
  border-radius: 5px;
  height: 32px;
  width: 252px;
}

.btn-link {
  @extend %btn;
  align-items: center;
  background-color: $wild-sand;
  border: 2px solid $earls-green;
  color: $earls-green;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btn-submit {
  @extend %btn;
  background-color: $earls-green;
  color: $white;
}

.btn-lng {
  border: 2px solid $earls-green;
  padding: 5px 3px;
}

.btn-lng-es {
  background-color: $earls-green;
  border: 2px solid $earls-green;
  color: $white;
  padding: 5px 3px;
}
