@import './variables/colors';

%btn {
  border-radius: 5px;
  height: 32px;
  width: 252px;
}

.btn-link {
  @extend %btn;
  align-items: center;
  background-color: $wild-sand;
  border: 2px solid $earls-green;
  color: $earls-green;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btn-submit {
  @extend %btn;
  background-color: $earls-green;
  color: $white;
}

.btn-lang {
  border: 2px solid $earls-green;
  padding: 5px 3px;

  &-active {
    background-color: $earls-green;
    color: $white;
  }
}

.btn-logout {
  border-radius: 5px;
  color: $black;
  font-size: 18px;
  height: 50px;
  padding: 10px 15px;

  &:hover {
    background-color: $wild-sand;
  }
}
