@import "./variables/colors";

.content-form {
  margin-bottom: 16px;
  padding-bottom: 16px;
  position: relative;

  &::after {
    background-color: $silver-chalice;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.form-alert {
  color: $red;
  margin-top: 2px;
}

.form-input {
  background-color: $white;
  border-radius: 5px;
  height: 32px;
  padding: 10px;
  width: 252px;
}

.form-label {
  color: $black;
  font-size: 16px;
  height: 22px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-content {
  margin-bottom: 16px;
}
